<h1>Genre: <%= @genre.name %></h1>
<h3>Songs:</h3>
<ul>
    <% @genre.songs.each do |song|%>
        <li><%= song.name %></li>
    <% end %>
</ul>
<h3>Artists:</h3>
<ul>
    <% @genre.artists.each do |artist|%>
        <li><%= artist.name %></li>
    <% end %>
</ul>